@model IEnumerable<ECommerceShop.BL.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Products";
}

@section CSS {
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css">
}

<a class="btn btn-primary mb-4" asp-area="Dashboard" asp-controller="Product" asp-action="Create">Add Product</a>
<a class="btn btn-primary mb-4" asp-area="Dashboard" asp-controller="Product" asp-action="InStock">Products In Stock</a>

<div class="card-box mb-30">
    <h2 class="h4 pd-20">All Products</h2>
    <table class="data-table table nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th class="table-plus datatable-nosort">Product</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="datatable-nosort">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td class="table-plus">
                        <img src="~/vendors/images/product-@(product.Id).jpg" width="70" height="70" alt="">
                    </td>
                    <td><h5 class="font-16">@product.Name</h5>by @product.ProductUser</td>
                    <td>@product.Color</td>
                    <td>@product.Size</td>
                    <td>$@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" asp-area="Dashboard" asp-controller="Product" asp-action="Read" asp-route-id="@product.Id"><i class="dw dw-eye"></i> Read</a>
                                <a class="dropdown-item" asp-area="Dashboard" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id"><i class="dw dw-edit2"></i> Update</a>
                                <a class="dropdown-item" asp-area="Dashboard" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"><i class="dw dw-delete-3"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section JS {
    <!-- JS -->
    <script src="~/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/vendors/scripts/dashboard.js"></script>
}